<!-- ====================== MAIN HEADER ====================== -->
<header id="header">
    <div class="container">

        <h1><a href="#">Joj Macho</a></h1>
        <h2>Pythonista <span>|</span> Data Enthusiast <span>|</span> Web Developer</h2>

        <hr>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" href="#header">Home</a></li>
                <li><a class="nav-link" href="#about">About</a></li>
                <li><a class="nav-link" href="#resume">Background</a></li>
                <li><a class="nav-link" href="#workspace">My Workspace</a></li>
                <li><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>