<!-- ====================== WORKSPACE HEADER ====================== -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/index.html" class="logo d-flex align-items-center">
            <h1 class="d-flex align-items-center">Joj Macho</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/workspace/">My Workspace</a></li>
                <li><a href="/workspace/python_101">Python 101</a></li>
                <li><a href="/workspace/cryptography">Cryptography 101</a></li>
                <li><a href="/workspace/computational_python">Computational Python</a></li>
                <li><a href="/workspace/data_science">Data Sciences</a></li>
                <li><a href="/workspace/projects">Projects</a></li>
                <li><a href="/workspace/about">About</a></li>
            </ul>
        </nav>

    </div>
</header>