/* ====================== GLOBAL STYLES ====================== */

:root {
    /* Colors */
    --background-color: #0A0A0A;
    --text-color: #CCCCCC;
    --link-color: #1bc5fe;
    --link-hover-color: #6794a3;
    --heading-color: #FFFFFF;
    --subheading-color: #FFFAFA;
    --accent-blue: #1bc5fe;
    --accent-violet: #8a2be2;
    
    /* Fonts */
    --text-font: 'Monospace', Consolas, monospace;
    --heading-font: 'Helvetica Neue', Arial, sans-serif;
    --subheading-font: 'Monospace', Consolas, monospace;
    --nav-font: 'Monospace', Consolas, monospace;

    /* Smooth Scrolling  */
    scroll-behavior: smooth
}

/* ====================== GENERAL STYLES ====================== */
    
body {
    font-family: var(--text-font);
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

i {
    color: var(--accent-blue);
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

hr {
    border: 0;
    height: 1.5px;
    background: linear-gradient(to right, var(--accent-blue), #5ad0ff);
    opacity: 0.3;
}

.button .btn {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 30px;
    background-color: var(--accent-blue);
    color: #fff;
    border: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    overflow: hidden;
}

.button .btn:hover {
    color: #fff;
    background-color: var(--accent-violet);
}

/* ======= Header ======= */

.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 24px 0;
}

.header.sticked {
    background: var(--background-color);
    padding: 12px 0;
}

.header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--link-color);
    font-family: var(--heading-font);
    margin: 0;
}

/* ======= Hero ======= */

.hero {
    width: 100%;
    min-height: 80vh;
    background: var(--background-color) url("../images/portfolio/adelin-preda--tOr_T4qTpQ-unsplash.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    z-index: 1;
}

.hero-title {
    margin: 0;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    color: var(--heading-color);
    font-family: var(--text-font);
}

.hero-divider {
    width: 40%;
    margin: 20px auto;
    height: 2px;
    border: 2px solid #00aaff;
    background: linear-gradient(to right, #00aaff, #0033ff, #00aaff);
}

.hero-subtitle {
    margin-top: 20px;
    font-size: 18px;
    color: var(--text-color);
    font-family: var(--text-font)
}


/* ======= Sections ======= */

section {
    overflow: hidden;
    padding: 60px 0;
}

.section-header {
    text-align: center;
    padding-bottom: 30px;
}

.section-header h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-bottom: 20px;
    position: relative;
    color: var(--heading-color);
}

.section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: var(--accent-blue);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.section-header p {
    margin-bottom: 0;
}

/* ======= Breadcrumbs ======= */
.breadcrumbs .page-header {
    padding: 140px 0 60px 0;
    min-height: 40vh;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.breadcrumbs .page-header:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);;
    position: absolute;
    inset: 0;
}

.breadcrumbs .page-header h2 {
    font-size: 42px;
    font-weight: 600;
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.breadcrumbs .page-header p {
    font-size: 18px;
    font-weight: 600;
    color: var(--subheading-color);
    font-family: var(--subheading-font);
}

.breadcrumbs nav {
    background-color: #1c1c1ceb;
    padding: 20px 0;
}

.breadcrumbs nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}


.breadcrumbs nav ol a {
    color: var(--link-color);
    transition: 0.3s;
}

.breadcrumbs nav ol a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

.breadcrumbs nav ol li+li {
    padding-left: 10px;
    color: var(--link-hover-color);
}

.breadcrumbs nav ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: var(--accent-blue);
    content: "/";
}

/* ======= Scroll Top ======= */

.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--accent-blue);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.scroll-top:hover {
    background: rgba(86, 184, 230, 0.8);
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}


/* ======= Desktop Navbar ======= */

@media (min-width: 1280px) {
    .navbar {
      padding: 0;
    }
  
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navbar li {
      position: relative;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0 15px 30px;
      font-family: var(--nav-font);
      font-size: 16px;
      font-weight: 600;
      color: var(--link-color);
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: var(--link-hover-color);
    }
  
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: var(--background-color);
      transition: 0.2s;
    }
  
    .navbar .dropdown ul li {
      min-width: 200px;
    }
  
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      color: var(--link-color);
    }
  
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
  
    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
      color: var(--link-hover-color);
    }
  
    .navbar .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
    
}
  
@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
}

@media (min-width: 1280px) {
    .mobile-nav-show,
    .mobile-nav-hide {
      display: none;
    }
}

/* ======= Mobile Navbar ======= */
@media (max-width: 1279px) {
    .navbar {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 400px;
      bottom: 0;
      transition: 0.3s;
      z-index: 9997;
    }
  
    .navbar ul {
      position: absolute;
      inset: 0;
      padding: 50px 0 10px 0;
      margin: 0;
      background: rgba(36, 79, 124, 0.9);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      font-family: var(--nav-font); 
      font-size: 15px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7);
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: var(--link-hover-color);
    }
  
    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
      position: static;
      display: none;
      padding: 10px 0;
      margin: 10px 20px;
      background-color: rgba(20, 35, 51, 0.6);
    }
  
    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
      display: block;
    }
  
    .mobile-nav-show {
      color: rgba(255, 255, 255, 0.9);
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
    }
  
    .mobile-nav-hide {
      color: rgba(255, 255, 255, 0.9);
      font-size: 32px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 9999;
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .navbar {
      right: 0;
    }
  
    .mobile-nav-active .navbar:before {
      content: "";
      position: fixed;
      inset: 0;
      background: rgba(27, 47, 69, 0.7);
      z-index: 9996;
    }

  }

/* ====================== WORKSPACE PAGE STYLES ====================== */

.workspace .post-card {
    height: 100%;
    padding: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    border: 1px solid rgba(27, 47, 69, 0.8);
    box-shadow: 0 0 3px rgba(0, 170, 255, 0.4);
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s;
}

.workspace .post-card:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.03));
    border-top-color: var(--accent-blue);
    border-bottom-color: var(--accent-blue);
    box-shadow: 0 0 8px rgba(0, 170, 255, 0.6);
    transform: scale(1.02);
    transition: all 0.3s;
}


.workspace .posts-list article+article {
    margin-top: 60px;
}

.workspace .posts-list .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
}

.post-img img {
    width: 100%;
    transition: all 0.3s ease;
}

.post-img:hover img {
    transform: scale(1.1);
}

.workspace .content .row .project-img img {
    width: 790px;
    height: 450px;
    border-radius: 2%;
    /* margin: -40px 0 0 40px; */
    position: relative;
    z-index: 2;
    border: 3px solid rgba(74, 51, 250, 0.495);
}

.workspace .posts-list .title {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0 0 0;
}

.workspace .posts-list .title a {
    color: var(--link-color);
    transition: 0.3s;
}

.workspace .posts-list .title a:hover {
    color: var(--link-hover-color);
    border-bottom: 1px solid var(--link-hover-color);
}

.workspace .posts-list .meta-top {
    margin-top: 20px;
    color: var(--accent-blue);
}

.workspace .posts-list .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.workspace .posts-list .meta-top ul li+li {
    padding-left: 20px;
}

.workspace .posts-list .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
}

.workspace .posts-list .meta-top a {
    color: var(--link-color);
    font-size: 14px;
    display: inline-block;
    // line-height: 1;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    box-shadow: #3b6efc7b 0px 0px 0px 2px;
    border-radius: 0.5vh;
    width: fit-content;
    padding: 0.1vw 0.6vw;
    min-width: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.workspace .posts-list .meta-top a:hover {
    color: var(--link-hover-color);
    box-shadow: rgb(15, 95, 113) 0px 0px 0px 2px;
}   

.workspace .posts-list .meta-top .tags {
    display: flex;
    flex-wrap: wrap;
    min-width: 0px;
}



.workspace .posts-list .content {
margin-top: 20px;
}

.workspace .posts-list .read-more a {
    display: inline-block;
    color: var(--link-color);
    transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
}

.workspace .posts-list .read-more a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* ======= Workspace Category Page ======= */

.workspace-category {
    padding: 10px 0;
}

.workspace-category .category-item {
    min-height: 300px;
    margin-top: 30px;
    border-radius: 50px;
    background-color: var(--background-color);
    box-shadow: 0px 0px 30px rgba(81, 94, 125, 0.15);
    padding: 40px 50px;
    text-align: center;
    transition: all 0.4s ease;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.workspace-category .category-item:hover {
    transform: scale(1.005);
    border-top-color: var(--accent-blue);
    border-bottom-color: var(--accent-blue);
}

.workspace-category .category-item h3 {
    color: var(--heading-color);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #fff;
    transition: 0.3s;
}

.workspace-category .category-item:hover h3 {
    border-color: var(--accent-blue);
  }

.workspace-category .category-item p {
    line-height: 24px;
    margin-bottom: 0;
}

.workspace-category .category-item .readmore {
    margin-top: 15px;
    display: inline-block;
}


/* ====================== WORKSPACE SINGLE PAGE STYLES ====================== */

.workspace .workspace-details {
    box-shadow: 0px 0px 3px rgba(48, 158, 255, 0.5);
    /* box-shadow: 0px 0px 3px rgba(27, 47, 69, 0.5); */
    padding: 30px;
    color: var(--text-color);
}

.workspace .workspace-details .post-img {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
}
  
.workspace .workspace-details .title {
    font-size: 38px;
    font-weight: 600;
    padding: 10px;
    margin: 20px 0 0 0;
    color: var(--heading-color);
}

.workspace .workspace-details .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.workspace .workspace-details .meta-top ul li .bi {
    font-size: 18px;
    margin-right: 8px;
    color: var(--accent-blue);
}

.workspace .workspace-details .meta-top ul li a {
    color: var(--subheading-color);
    font-size: 14px;
}

.workspace .workspace-details .meta-top ul li+li {
    padding-left: 20px;
}

.workspace .workspace-details .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: var(--link-color);
}

.workspace .workspace-details .meta-top a {
    color: var(--link-color);
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.workspace .workspace-details .tags a {
    background-color: var(--accent-violet);
    color: var(--subheading-color);
    padding: 3px 2px;
    border-radius: 5px;
    /* margin-right: 1px; */
    transition: background-color 0.3s, color 0.3s;
}

.workspace .workspace-details .tags a:hover {
    background-color: var(--link-hover-color);
    color: var(--heading-color);
}

.workspace .workspace-details .content {
    margin-top: 24px;
    line-height: 1.8;
}


.workspace .workspace-details .content h3 {
    font-size: 32px;
    margin-top: 30px;
    font-weight: 600;
    color: #1bc5fe;

}

/* .workspace .workspace-details .content h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 1px;
    background: var(--accent-blue);
    margin: auto;
} */

.workspace .workspace-details .content h4 {
    font-size: 28px;
    margin-top: 30px;
    font-weight: 550;
    color: #1ba7fede;
}

.workspace .workspace-details .content h5 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: 520;
    color: #1b8cfede;
}

.workspace .workspace-details .content h6 {
    font-size: 18px;
    margin-top: 30px;
    font-weight: 500;
    color: #1b5bfede;
}

.workspace .image-block {
    margin: 30px 0;
}

.workspace .image-block img {
    width: 100%;
    border-radius: 6px;
}

/* .workspace .image-block img {
    margin: 10px 0;
} */
  

/* .workspace .workspace-details .content blockquote {
    overflow: hidden;
    background-color: rgba(27, 47, 69, 0.06);
    padding: 30px;
    position: relative;
} */
.workspace .workspace-details .content blockquote {
    background-color: rgba(27, 47, 69, 0.06);
    padding: 20px;
    margin: 20px 0;
    font-style: italic;
    font-weight: 500;
    border-left: 4px solid var(--accent-blue);
}

.workspace .workspace-details .content blockquote p {
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
}


/* ====================== MY PROJECTS ====================== */

.projects {
    padding: 10px 0;
}

.projects .col-lg-4 {
    padding: 10px;
}

.projects .card {
    background-color: #121212;
    text-align: center;
    padding: 20px;
    height: 100%;
    box-shadow: 0 2px 2px var(--accent-blue);
    transition: transform 0.3s, box-shadow 0.3s;
}

.projects .card:hover {
    box-shadow: 0 2px 2px var(--accent-violet);
}

.projects .card:hover .card-img-top {
    transform: translateY(-1.5px);
    transition: transform 0.3s;
}

.projects .card-title {
    color: var(--accent-blue);
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}

.projects .btn-primary {
    background-color: var(--accent-blue);
    border-color: var(--accent-blue);
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.projects .btn-primary:hover {
    background-color: var(--link-hover-color);
}

/* ======= Project Details ======= */

.project-details .project-img {
    width: 100%;
    border-radius: 20px;
    margin: 10px 0 30px 0;
    transition: all 0.3s ease;
}

.project-details .project-info {
    padding: 60px 0 30px 10px;
    box-shadow: 0px 0 30px rgba(27, 47, 69, 0.1);
}

.project-details .project-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--accent-violet);
}

.project-details .project-info ul li+li {
    margin-top: 10px;
}

.project-details .project-info ul span {
    font-weight: 700;
    color: var(--accent-blue);
}

.project-details .project-description {
    padding-top: 30px;
}


/* ====================== FOOTER STYLES ====================== */

.footer {
    /* position: fixed; */
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 999999;
    font-size: 14px;
    color: #CCCCCC;
    z-index: 999999;
}


.footer .footer-content p {
    margin: 0;
    line-height: 1.5;
}

.footer .footer-content a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer .footer-content a:hover {
    color: var(--link-hover-color);
}

.footer .footer-content i {
    vertical-align: middle;
    font-size: 16px;
    margin-left: 5px;
    color: #dc3545;
}


/* ================ MOBILE RESPONSIVENESS ================ */

/* On small screens (max-width: 767px) */
@media (max-width: 767px) {
    .workspace .image-block img {
        padding: 10px;
    }
}
