---
layout: works
---

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">

    <div class="page-header d-flex align-items-center" style="background-image: url('/assets/images/workspace/bg_about.jpeg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>{{ page.title }}</h2>
                    <p>{{ page.sub-title }}</p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="/workspace/">Workspace</a></li>
                <li>{{ page.title }}</li>
            </ol>
        </div>
    </nav>
</div>

<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4" data-aos="fade-up">
            {{ content }}
        </div>
    </div>
</section>